
<ul class="sidebar-nav list-unstyled">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/fruits">All fruits</a></li>
    <li><a href="/catalog/categories">All categories</a></li>
    <li><a href="/catalog/fruitinstances">All fruit instances</a></li>
    <li><a href="/catalog/sales">All sales</a></li>
    <li><a href="/catalog/spoilages">All spoilages</a></li>
    <li><hr></li>
    <li><a href="/catalog/fruit/create">Create new fruit</a></li>
    <li><a href="/catalog/category/create">Create new category</a></li>
    <li><a href="/catalog/fruitinstance/create">Create new fruit instance</a></li>
</ul>
